* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}