* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

html,
body {
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.custom-form {
    .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
        border: none;
    }
    .van-cell-group {
        .van-cell {
            border-bottom: 1px solid #c2c2c2;
            &:after {
                content: none;
            }
        }
    }
}
.log{
    font: normal 1.2rem "黑体";
}
.ff-hei{
    font-family: "黑体";
}
.bg-tran{
    background-color: transparent !important;
}