* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

html,
body {
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.custom-form {
    .van-cell-group {
        .van-cell {
            border-bottom: 1px solid #c2c2c2;
            &:nth-child(1) {
                border-top: 1px solid #c2c2c2;
            }
            &:after {
                content: none;
            }
        }
    }
}